APPSYNC_HTTP_ENDPOINT="https://example.appsync-api.eu-central-1.amazonaws.com/event"
APPSYNC_WS_ENDPOINT="wss://example.appsync-realtime-api.eu-central-1.amazonaws.com/event/realtime"
APPSYNC_CHANNEL="default/notifications"

APPSYNC_API_KEY=""
APPSYNC_AUTH_TOKEN=""

AWS_REGION="eu-central-1"

# Only needed by examples/custom-authorizer.
AUTH_URL=""
